[Unit]

Description=Gunicorn instance to serve APP

After=network.target

[Service]

User=ubuntu

Group=www-data

WorkingDirectory=/home/ubuntu/p1-react-flask-app/app

Environment="PATH=/home/ubuntu/p1-react-flask-app/app"
Environment="SENDGRID_API_KEY=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"
Environment="RDS_AWS=postgresql+psycopg2://postgres:2006iaso@test.cvov6d9cossl.us-east-1.rds.amazonaws.com:5432/test"
Environment="RDS_AWS_HOST=test.cvov6d9cossl.us-east-1.rds.amazonaws.com"
Environment="RDS_AWS_PSW=2006iaso"
Environment="RDS_AWS_DBN=test"
Environment="RDS_AWS_USR=postgres"



ExecStart=/home/ubuntu/p1-react-flask-app/app/venv/bin/gunicorn --workers 3 --bind unix:app.sock -m 007 api:app

[Install]

WantedBy=multi-user.target